<div class="select2-content">
  <div  class="show-result pr-0 " fxLayoutAlign="space-between center">
    <div class="box-result custom-ellipsis" >
      <span class="placeholder-custom" *ngIf="!resultSingleChoose && resultMultiChoose.length == 0">{{configOption.placeholderSelect}}</span>
      <span *ngIf="!configOption?.isMultiChecked && resultSingleChoose">
        {{resultSingleChoose[nameDisplay]}}
      </span>
      <ng-container *ngIf="resultMultiChoose.length >0">
        <ng-container *ngFor="let item of resultMultiChoose, let i = index">
          <span class="item-result">{{item[nameDisplay]}}
            <span class="point-remove-option" (click)="removeOption(item)"><svg viewBox="64 64 896 896" focusable="false" data-icon="close" width="1em" height="1em" fill="currentColor" aria-hidden="true">
              <path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 00203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg>
            </span>
          </span>
        </ng-container>
      </ng-container>
    </div>
    <div fxLayoutAlign="center center" class="pointer-event-select btn" #toggleButton (click)="toggleSelect()">
      <svg width="15" height="6" viewBox="0 0 15 11" fill="none">
        <path d="M7.66667 10.667L0.44979 0.166991L14.8835 0.166992L7.66667 10.667Z" fill="black"/>
      </svg>
    </div>
  </div>

  <div *ngIf="isToggle" class="box-select" id="toggleSelect2" #toggleSelect2>
    <div class="pl-2 pr-2 pt-1 pb-1" *ngIf="configOption.isMultiChecked">
      <mat-checkbox class="pt-1" [checked]="isCheckAll" (change)="selectAll()">Chọn tất cả</mat-checkbox>
    </div>
    <div class="pl-2 pr-2 pt-1 pb-1" *ngIf="!configOption.hiddenSearchSelect2">
      <input [placeholder]="configOption.placeholderSelect2" (keyup)="searchSelect2($event)" type="text" class="select2-search-input">
    </div>
    <div class="box-result-options" >
      <ng-container *ngIf="selectDisplay.length > 0; else notFoundData">
        <div style="width: 100%" class="pl-2 custom-ellipsis" fxLayoutAlign="start center" >
          <div class="option-item" (click)="chooseSingleOption(null)" *ngIf="!configOption.isMultiChecked">
            <span class="ml-2">{{configOption.placeholderSelect}}</span>
          </div>
        </div>
        <div style="width: 100%" *ngFor="let item of selectDisplay" class="pl-2 custom-ellipsis" fxLayoutAlign="start center" >
          <div class="option-item {{resultSingleChoose == item ? 'active-item' : ''}} pl-0" (click)="chooseSingleOption(item)" *ngIf="!configOption.isMultiChecked">
            <span class="ml-2">{{item[nameDisplay]}}</span>
          </div>
          <div class="option-item-multi-choose" *ngIf="configOption.isMultiChecked" fxLayoutAlign="start center">
            <mat-checkbox [checked]="item.checked" (change)="chooseMultiOption($event, item)" class="pt-1"> {{item[nameDisplay]}}</mat-checkbox>
          </div>
        </div>
      </ng-container>
      <ng-template #notFoundData>
        <div class="option-item pl-2 custom-ellipsis" fxLayoutAlign="start center">
          Không tìm thấy dữ liệu
        </div>
      </ng-template>
    </div>
  </div>
</div>
