.select2-content {
  width: 100%;
  .placeholder-custom{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #C4C4C4;
  }

  .item-result{
    box-sizing: border-box;
    max-width: 100%;
    height: 24px;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 22px;
    background: #f5f5f5;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    cursor: default;
    transition: font-size .3s,line-height .3s,height .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-margin-end: 4px;
    margin-inline-end: 4px;
    -webkit-padding-start: 8px;
    padding-inline-start: 8px;
    -webkit-padding-end: 4px;
    padding-inline-end: 4px;
  }

  .point-remove-option{
    cursor: pointer;
  }

  .show-result{
    width: 100%;
    background-color: white;
    border: 1px solid #aaa;
    height: 40px;
  }

  .show-result:focus {
    outline: none;
  }

  .box-result{
    padding-left: 7px;
    max-width: 90%;
  }

  .select2-search-input {
    width: 100%;
    background-color: white;
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 6%);
    height: 40px;
    border: 1px solid #aaa;
    padding-left: 20px;
  }

  .select2-search-input:focus {
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 6%), 0 0 5px rgb(19 131 179 / 70%);
    outline: none;
  }

  .box-select {
    background-color: white;
    border: 1px solid #aaa;
    border-top: none;
    //border-end-end-radius: 4px;
    //border-end-start-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    z-index: 1051;
    max-width: 94%;
    min-width: 94%;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    .box-result-options {
      max-height: 12rem;
      overflow-x: auto;

      .option-item {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: inherit;
        line-height: 3em;
        width: 100%;
      }

      .option-item-multi-choose{
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: inherit;
        line-height: 3em;
      }

      .option-item-multi-choose:hover{
        background: #E5E5E5;
        width: 100%;
      }

      .option-item:hover {
        background: #E5E5E5;
      }

      .active-item {
        background: #E5E5E5;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  //::-webkit-scrollbar-track {
  //  border-radius: 6px;
  //}

  ::-webkit-scrollbar-thumb {
    //border-radius: 6px;
    -webkit-box-shadow: inset 0 0 15px #E5E5E5;
  }
}

.pointer-event-select {
  cursor: pointer;
  height: 100%;
}

.pointer-event-select:hover {
  font-weight: 500;
  background: #F2F3F8;
}

.custom-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
