<div class="container mt-5 row">
  <div class="col-md-5">
    <app-ngx-select2 (onChangeSelect)="onChangeSelect($event)" [value]="'id'" [nameDisplay]="'name'" [dataSelect]="dataList" [configOption]="configSelect2"></app-ngx-select2>
  </div>
  <div class="col-md-5">
    <app-ngx-select2 (onChangeSelect)="onChangeSelect($event)" [value]="'id'" [nameDisplay]="'name'" [dataSelect]="dataList" [configOption]="configSelect"></app-ngx-select2>
  </div>
</div>
